* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #2527ad 0%, #1aa0a5 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #1a1f2b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Login {
  color: black;
  padding: 0.5rem;
  font-size: 5px;
  border: none;
  background: white;
}
