.Profile {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.navbar {
  position: fixed;
  top: 1rem;
  margin: auto;
  padding: auto;
}
